extends layout

block content
  h1=title
  p Fill in the form below to sign up!
  include message.pug
  form(action="/register",method="post")
    p
      input(type='text',name='userName',placeholder='Username')
    p
      input(type='password',name='userPass',placeholder='Password')
    p   
      input(type='submit',value='Sign up')