body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
#menu{
  display: block;
  float: right;
  margin: 20px 50px
}
#menu .name:after{
  content: '  -';
}
#menu a{
  margin-left: 20px;
  text-decoration:none;
  font-size: 12px;
}